networks:
  net:
    external: false

services:
  haproxy:
    build: ./haproxy
    image: tv-haproxy:latest
    container_name: haproxy
    env_file:
       - "variables.env"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./data/certificates:/certificates"
    depends_on:
      - "restreamer"
      - "api"
      - "replay"
      - "mux"
    restart: unless-stopped
    networks:
      - net
    labels:
      - meta.role=haproxy

  acme-sh:
    image: neilpang/acme.sh
    container_name: acme.sh
    volumes:
      - "./data/acme:/acme.sh"
      - "./data/certificates:/certificates"
    network_mode: host
    command: daemon
    stdin_open: true
    tty: true
    restart: "no"

  restreamer:
    image: datarhei/restreamer:2.12.0
    env_file:
       - "variables.env"
    ports:
      - "1935:1935"
      - "6000:6000/udp"
    volumes:
      - "./data/restreamer/config:/core/config"
      - "./data/restreamer/data:/core/data"
    restart: unless-stopped
    networks:
      - net
    labels:
      - meta.role=restreamer

  api:
    depends_on:
      - "restreamer"
    build: ./api
    image: tv-api:latest
    env_file:
      - "variables.env"
    volumes:
      - "./data/recorder:/recordings"
    restart: unless-stopped
    networks:
      - net
    labels:
      - meta.role=api

  replay:
    build: ./replay
    image: tv-replay:latest
    env_file:
      - "variables.env"
    volumes:
      - "./data/recorder:/recordings:ro"
      - "./data/library:/library:ro"
    restart: unless-stopped
    networks:
      - net
    labels:
      - meta.role=replay

  mux:
    depends_on:
      - "api"
      - "icecast"
    build: ./mux
    image: tv-mux:latest
    env_file:
      - "variables.env"
    environment:
      - API_URL=http://api:8080
    restart: unless-stopped
    networks:
      - net
    labels:
      - meta.role=mux

  # icecast:
  #   depends_on:
  #     - "api"
  #   build: ./icecast
  #   image: tv-icecast:latest
  #   env_file:
  #     - "variables.env"
  #   restart: unless-stopped
  #   ports:
  #     - "8000:8000"
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro 
  #     - "./icecast/config/icecast.xml.template:/etc/icecast2/icecast.xml.template"
  #     - "./data/icecast:/usr/share/icecast2/web/data"
  #     - "./logs/icecast:/var/log/icecast2"
  #   networks:
  #     - net
  #   labels:
  #     - meta.role=icecast
