BASE_URL=example.com
EMAIL=info@example.com
ACCOUNT_THUMBPRINT=CHANGE_ME
CORE_LOG_LEVEL=warn
CORE_API_HOSTNAME=stream.example.com
CORE_API_AUTH_USERNAME=admin
CORE_API_AUTH_PASSWORD=CHANGE_ME
SCHEDULER_LOG_LEVEL=warn
DISCORDBOT_TOKEN=CHANGE_ME
DISCORDBOT_LIVE_CHANNEL_ID=CHANGE_ME
DISCORDBOT_LIVE_CHANNEL_UPDATE=1440
ICECAST_SOURCE_PASSWORD=CHANGE_ME
ICECAST_ADMIN_PASSWORD=CHANGE_ME
ICECAST_RELAY_PASSWORD=CHANGE_ME
ICECAST_PASSWORD=CHANGE_ME
