<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="DeflaxTV Video">
    <meta property="og:description" content="{{ video_file[:-4] }}">
    <meta property="og:type" content="video.movie">
    <meta property="og:url" content={{ url_for('video_watch_route', video_file_no_extension=video_file[:-4]) }}>
    <meta property="og:image" content={{ url_for('thumb_route', thumb_file=thumb_file) }}>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200"> 
    <meta property="og:image:height" content="630">
    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:site' content={{ url_for('video_watch_route', video_file_no_extension=video_file[:-4]) }}>
    <meta name='twitter:title' content='DeflaxTV Video'>
    <meta name='twitter:description' content="{{ video_file[:-4] }}">
    <meta name='twitter:image' content={{ url_for('thumb_route', thumb_file=thumb_file) }}>
    <meta name='twitter:image:alt' content="{{ video_file[:-4] }}">

    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plyr/dist/plyr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        body {
	        background-color: #212529;
        }
    </style>
    <title>DeflaxTV Video Player</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/plyr/dist/plyr.min.js" crossorigin="anonymous"></script>
</head>
<body>
    
<div class="content-container bg-dark text-white">
    <div id="stream" class="container-fluid p-3 bg-dark text-white">
    <div class="row">
        <div class="col-xs-12 col-md-1">
        </div>
        <div class="col-xs-12 col-md-8">
            <video id="player" controls crossorigin playsinline poster="{{ url_for('thumb_route', thumb_file=thumb_file) }}">
                <source src="{{ url_for('video_route', video_file=video_file) }}" type="video/mp4">
            </video>
        </div>
        <div class="col-xs-12 col-md-2 text-center">
            <a href="{{ url_for('root_route') }}" class="btn btn-outline-danger btn-lg" role="button">
                <img src="https://deflax.net/static/images/logo.png" width="20" />
                Live Stream
            </a>
        </div>
        <div class="col-xs-12 col-md-1">
        </div>
    </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const player = new Plyr('#player');
    });
</script>

</body>
</html>
