<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ video_file[:-4] }}"> 
    <meta property="og:description" content="DeflaxTV Video">
    <meta property="og:type" content="video.movie">
    <meta property="og:url" content={{ url_for('video_watch_route', file_name_no_extension=video_file[:-4]) }}>
    <meta property="og:image" content={{ url_for('thumb_route', file_name=thumb_file) }}>
    <meta property="og:image:type" content="image/png"> 
    <meta property="og:image:width" content="1200"> 
    <meta property="og:image:height" content="630">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plyr/dist/plyr.min.css">
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
	    background-color: #212529;
        }

        #player-container {
            width: 100%;
            max-width: 1920px;
        }
    </style>
    <title>DeflaxTV Video Player</title>
</head>
<body>

<div id="player-container">
    <video id="player" playsinline controls>
        <source src="{{ url_for('video_route', file_name=video_file) }}" type="video/mp4">
    </video>
</div>
<script src="https://cdn.jsdelivr.net/npm/plyr/dist/plyr.min.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const player = new Plyr('#player');
    });
</script>

</body>
</html>

</body>
</html>
